@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bfcebf;
  --preview-background: #ccdacc;
  --foreground: #171717;
  --card-background: #6a9c6a;
  --shadow: 4px 4px 10px 10px var(--foreground);

  --sidebar-width: 400px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, option, select {
  background: var(--background);
}

h1 {
  font-family: "Rubik Puddles", serif;

}